@charset "utf-8";

html *:not(.sapUiIcon):not(i) { font-family: NotoSansKR !important }
html, body { box-sizing:border-box; overflow:hidden }

.app-body { height:calc(100% - 3rem) !important }
.logo { margin:auto 0 !important; width:145px !important; height:43px !important }
.sapUiCal.px-0 .sapUiCalMonthView { padding-right: 0 !important; padding-left: 0 !important }
.font-1b-rem .sapMBtnInner { font-size: 1.125rem }
.menu-mss bdi {color:#f00}
.menu-hass bdi {color:#00f}