html *:not(.sapUiIcon):not(.sapMMsgStripCloseButton):not(i):not(.preview-box *) {font-family:GachiDeohagi,Pretendard,-apple-system,BlinkMacSystemFont,system-ui,Roboto,'Helvetica Neue','Segoe UI','Apple SD Gothic Neo','Noto Sans KR','Malgun Gothic',sans-serif}
.sapMLabelRequired:after {font-family:GachiDeohagi,Pretendard,'72fallback','72','72full',Arial,Helvetica,sans-serif}
.sapMInputBase.sapMInputBaseHeightMargin.sapMTextArea .sapMInputBaseContentWrapper textarea {font-family:GachiDeohagi,Pretendard}

/* Mobile */
.sapUiSizeCompact .sapMSegB.type-c .sapMSegBBtn .sapMSegBBtnInner,
.sapUiSizeCompact .sapMSegB.type-c .sapMSegBBtn.sapMSegBBtnSel .sapMSegBBtnInner {padding:0; letter-spacing:-1px}
.portlet-header {align-items:center}
.portlet-header > .sapMFlexItem {height:16px; line-height:16px}
.portlet-header .portlet-header-title h2.sapMTitle {line-height:17px}
.sapUiSizeCompact .portlet-header .sapIcon_Date.sapMInputBaseHasEndIcons .sapMInputBaseInner {margin-bottom:2px}
.portlet-p02 .article-item-title-column {width:calc(100% - 70px); max-width:calc(100% - 70px)}
.portlet-p02 .article-item-date-column {width:41px}
.portlet-p03p04 .portlet-members .members-worktime-organization-box .members-worktime .sapMText {letter-spacing:-1px}
.portlet-p06.portlet-m26 .portlet-header .sapIcon_Date.sapMInputBaseHasEndIcons .sapMInputBaseInner,
.portlet-p06.portlet-p13 .portlet-header .sapIcon_Date.sapMInputBaseHasEndIcons .sapMInputBaseInner {width:105px}
.portlet-p06.portlet-m26 .portlet-header .portlet-header-title + .sapMFlexItem,
.portlet-p06.portlet-p13 .portlet-header .portlet-header-title + .sapMFlexItem {width:121px}
.portlet-p09 .portlet-header .sapIcon_Date {width:80px !important}
.portlet-p09 .portlet-members .members-position-organization-box {width:calc(100% - 40px - 69px - 51px - (16px * 3))}
.portlet-p09 .portlet-members .members-anniversary-date-box {width:51px}
.portlet-p11.portlet-p14 .left-box .left-box-primary .sapMText,
.portlet-p11.portlet-p14 .right-box .right-box-primary .sapMText {height:22px; line-height:22px; font-size:22px; letter-spacing:-1px}
.portlet-p11.portlet-p14 .left-box .left-box-secondary,
.portlet-p11.portlet-p14 .right-box .right-box-secondary {height:14px}
.vCardBox .table-toolbar .title .header-count, .vCardBox .table-toolbar .title .header-description {height:20px; line-height:20px}
[id*=ATTACHBOX] .sapUiTableDataCell > .sapUiTableCellInner,
[id*=fileAttachmentBox] .sapUiTableDataCell > .sapUiTableCellInner {height:40px}
[id*=ATTACHBOX] .sapUiTableCCnt .sapMLnk,
[id*=fileAttachmentBox] .sapUiTableCCnt .sapMLnk {line-height:38px}
[id*=fileAttachmentBox] .table-toolbar .table-actions .restorefile-button .sapMBtn .sapUiIcon::before {content:''}
.approval-request-number {letter-spacing:-1px}
.request-period {letter-spacing:-.5px}
.sap-android .sapMVBox.overviews .portlet-box .portlet-body .sapMFlexBoxScroll .sapMScrollContV {width:calc(100% + 15px) !important; height:calc(100% + 4px) !important}
.vCardBox.MultiBoxmobile.week-worktime .sapIcon_Date.pickonly-datepicker {width:125px !important}