@charset "utf-8";

@import url("style.css");

/* MOBILE */
.sapUiMedia-StdExt-Phone .mobile-only {display: inherit!important;}
.sapUiMedia-StdExt-Phone .sapMPageEnableScrolling{padding:0 0.0rem;background-color:#EBEEF2;}
.sapUiMedia-StdExt-Phone .sapMPage {height: 100%;position: relative;isolation: isolate;z-index: 0;background: #fff;}
.sapUiMedia-StdExt-Phone .sapMScrollCont {padding:0px}
.sapUiMedia-StdExt-Phone .sapMScrollCont .sapMScrollCont {padding:0px 10px 0}
.sapUiMedia-StdExt-Phone .sapUiSizeCompact .sapMPageWithFooter.sapMPageFloatingFooter>section, .sapUiMedia-StdExt-Phone .sapUiSizeCompact .sapMPageWithHeader>section {padding-top: 56px;}
/* .sapUiMedia-StdExt-Phone .sapUiSizeCompact .sapMPageWithHeader>section > * {padding:0px 20px !important}
.sapUiMedia-StdExt-Phone .sapUiSizeCompact .sapMPageWithHeader>section > .sapMScrollCont {padding:0 20px !important} */
/* .sapUiMedia-StdExt-Phone .sapUiSizeCompact .sapMPageWithHeader>section .sapMSegB {width:100%;margin:20px!important} */

.sapUiMedia-StdExt-Phone .sapMPageHeader + .sapMPageEnableScrolling {margin-top: 2.6rem;}

.sapUiMedia-StdExt-Phone .sapUiBody {background-color:#EBEEF2;}
.sapUiMedia-StdExt-Phone .app-body {position: relative !important; height: calc(100% - 60px) !important; background-color: transparent;}

.sapUiMedia-StdExt-Phone .sapMPageHeader {display: block;text-align:center;height: 3.0rem;line-height:3.0rem;background-color:#fff;}
.sapUiMedia-StdExt-Phone .sapMPageHeader .sapMBarContainer {width: auto!important;}
.sapUiMedia-StdExt-Phone .sapUiSizeCompact .sapMPageHeader .sapMIBar {height:100%;border-bottom: 8px solid #ebeef2;}
.sapUiMedia-StdExt-Phone .sapMBarMiddle { background-color:#fff; text-align: center;}
.sapUiMedia-StdExt-Phone .sapMIBar.sapMBar .sapMBarChild:first-child {font-size: 1.0rem;margin: 0 auto;}

.sapUiMedia-StdExt-Phone .contents-header {display: none;}

.sapUiMedia-StdExt-Phone .contents {width:100%;max-width: inherit;min-width: auto;margin-top: 0;padding-top: 20px;padding-bottom: 0px;border-bottom: 8px solid #ebeef2;}
.sapUiMedia-StdExt-Phone .contents > .sapMVBox + .sapMVBox  {border-top: 8px solid #ebeef2;}

.sapUiMedia-StdExt-Phone .app-menu-toolbar {width:100%;border-top: 1px solid #DFE2EB;}

.sapUiMedia-StdExt-Phone [data-sap-ui=container-ehr---home--portlets-grid] {grid-template-columns: repeat(1, 100%)!important;grid-gap: 16px!important;padding: 0 0.8rem;}
.sapUiMedia-StdExt-Phone .portlet-box {border-radius: 8px;}
.sapUiMedia-StdExt-Phone .portlet-header {justify-content: space-between;display: flex;}
.sapUiMedia-StdExt-Phone .portlet-header h2.sapMTitle {font-size: 1.1rem;}

.sapUiMedia-StdExt-Phone .app-menu-toolbar:before {display: none;}
.sapUiMedia-StdExt-Phone .app-menu-toolbar:after {border-bottom:0;}

.sapUiMedia-StdExt-Phone .mobile-top {position:sticky;top:0;z-index: 99;}

.footer-menu .sapMBtnInner .sapMBtnIcon.sapMImg {width: 2rem;height: 2rem; max-width: 2rem;max-height: 2rem;}

/* POPOVER BASIC */
.sapUiMedia-StdExt-Phone .sapMPopover.sapMPopoverWithoutBar .sapMPopoverCont, .sapMPopover .sapMIBar.sapMHeader-CTX {padding: 20px;}

.sapUiMedia-StdExt-Phone .sapMPopover .status-wrap { margin-right: 0}
.sapUiMedia-StdExt-Phone .sapMPopover .status-wrap .sapMFlexItem {margin-bottom:6px;}
.sapUiMedia-StdExt-Phone .sapMPopover .status-wrap .sapMFlexItemAlignAuto {align-self: auto;}

.sapMPopoverFooter {display: none;}
.sapMDialogTitle [data-sap-ui*=closeButton].sapMBtn {min-width: auto!important;}
.sapMDialogTitle [data-sap-ui*=closeButton].sapMBtn .sapMBtnDefault.sapMBtnIconFirst{border-color: transparent!important;background-color: transparent;}
.sapUiMedia-StdExt-Phone .sapMDialog .sapMDialogTitle, .sapUiMedia-StdExt-Phone .sapUiSizeCompact .sapMPopoverHeader .sapMBar {height: 42px;}
.sapUiSizeCompact.sapMDialog>.sapMDialogTitle .sapMHeader-CTX, 
.sapUiSizeCompact .sapMDialog>.sapMDialogTitle .sapMHeader-CTX, 
.sapUiSizeCompact.sapMDialog>.sapMDialogTitle .sapMSubHeader-CTX, 
.sapUiSizeCompact .sapMDialog>.sapMDialogTitle .sapMSubHeader-CTX, 
/* .sapMDialog.sapMPopup-CTX>header .sapMHeader-CTX {align-items: center; height: 42px;padding-top: 0;padding-bottom: 0; box-sizing: border-box;border-bottom:1px solid #E6E6E6;margin-bottom:8px;} */
.sapMPanelHdr, .sapMDialog>header.sapMDialogTitle {font-size: 24px;font-weight: 600;height: 70px; line-height: 70px;padding: 0 0px;}
.sapUiSizeCompact .sapMBarRight {height:100%;display: flex;align-items: center;}
/* .sapUiSizeCompact .sapMBarMiddle .sapMBarPH.sapMBarContainer{align-self: center;padding-right: 0;padding-top: 0;padding-bottom: 0;height: 48px;line-height: 48px;} */
.sapMDialogSection {    padding: 0px 20px;}
.sapMDialog.sapUiPopupWithPadding:not(.sapUiNoContentPadding) .sapMDialogScrollCont {padding:0;}
html.sap-phone .sapMDialog.sapMDialogStretched { border: none; box-shadow: 0;border-radius: 0;top: 0!important;bottom: 60px!important; padding: 42px 0px 0;}
.sapMResponsivePopover + .sapUiBLy {display: none!important;visibility: hidden!important;background-color: #000000; opacity: 0.0;}
.sapUiSizeCompact.sapMDialog>.sapMDialogSection, .sapUiSizeCompact .sapMDialog>.sapMDialogSection {min-height: 2.5rem; padding-bottom: 20px;height:100%!important;}
/* .sapMDialog.full-popover, .sapMDialog.full-popover .sapMDialogScroll{height:100%!important;overflow: hidden;}
.sapMDialog.full-popover .sapMDialogSection {height:calc(100% - 60px)!important;} */
.sapMDialog.full-popover .sapMDialogScroll, .sapMDialog.full-popover .sapMDialogScroll .sapMDialogScrollCont {height: 100%!important;}
.sapMPopover.full-popover {top:0!important;right:0!important;bottom:60px!important;left:0!important;box-shadow:none}
.sapMPopover.full-popover .sapMPopoverCont {height:calc(100% - 50px)!important}
.sapMPopover.full-popover.notification-popover .sapMPopoverCont {height:calc(100% - 83px)!important}
.sapMPopover.full-popover .sapMPopoverCont .sapMPopoverScroll {height:100%!important; padding-top:0}
.sapMPopover.full-popover.notification-popover .sapMPopoverCont .sapMPopoverScroll {height:auto!important}
.sapMPopover.full-popover .sapMPopoverHeader {border-bottom: 8px solid #ebeef2;}
.sapMPopover.full-popover .sapMPopoverArr  {display: none;}

/* mobile search popover */
.sapMPopover.full-popover.search {top:50%!important;background-color: #F4F5F7;}
.sapMPopover.full-popover.search .sapMPopoverHeader {display: none;}
.sapMPopover.full-popover.search .sapMPopoverCont {height: 100%!important;background-color: #F4F5F7;}


/* basic tab */
.sapMITB .sapMITBContainerContent {padding:20px;}

/* mobile popover tab */
.sapMPopoverCont {position:relative;max-width: 100%!important;}

.sapUiMedia-Std-Phone .sapMITBScrollContainer {border-bottom: 1px solid #E7E9EF;}
.sapUiMedia-Std-Phone .sapMITH .sapMITBHead, .sapUiMedia-Std-Phone .sapMITB .sapMITBHead {margin:0;border-bottom: 0px solid #E7E9EF;}
.sapMITBInLine.sapMITBTextOnly>.sapMITBVertical .sapMITBText {padding:0 10px}


/* menu tab */
.sapMITBInLine.sapMITBTextOnly>.sapMITBVertical {height: 50px; min-width: auto;padding: 0 !important; flex: 1;}
.sapUiMedia-Std-Phone .menu-wrap.sapMITB .sapMITBHead {display: flex;margin: 0.5rem 0 0;vertical-align: top;padding: 0; border-bottom: 1px solid #E7E9EF;}
.sapUiMedia-Std-Phone .menu-wrap .sapMITB.sapMITBFilter {margin: 0;}

.sapMPopover.full-popover .menu-wrap {height:calc(100% - 202px);}
.sapMPopover.full-popover .menu-wrap .sapMITBHead {display: flex;margin-top: 0;}
.sapUiMedia-Std-Phone .menu-wrap .sapMITBHead .sapMITBFilter {margin: 0;height: 61px;}
.sapUiMedia-Std-Phone .menu-wrap .sapMITBHead .sapMITBFilter .sapMITBText{margin: 25px 0 18px 0;}
.sapUiMedia-Std-Phone .menu-wrap .sapMITBHead .sapMITBFilter .sapMITBContentArrow {height:0!important}
.sapUiMedia-Std-Phone .menu-wrap .sapMITBTextOnly .sapMITBFilterDefault>.sapMITBText {font-size: 1rem!important;color: #222222;font-weight: 700;}
.sapUiMedia-Std-Phone .menu-wrap .sapMITBTextOnly .sapMITBFilterDefault.sapMITBSelected>.sapMITBText {color: #1E7DB3;}
.sapUiMedia-Std-Phone .menu-wrap .sapMITBHead .sapMITBFilter .sapMITBSelected>.sapMITBContentArrow {height:0!important}
.sapMPopover.full-popover .sapMDialogScroll .sapMDialogScrollCont .favorites-menu-list {height:202px;}
.sapMPopover.full-popover .menu-wrap .sapMITB {height:100%;}
.sapMPopover.full-popover .menu-wrap .sapMITBContainerContent{padding: 0;height:calc(100% - 50px);overflow-y: auto;}

.menu-list {padding:12px 10px 12px 25px}
.menu-list > .sapMFlexItem {margin-top:20px}
.menu-list .sapMLnk {display: flex;justify-content: space-between;align-items: center;height:46px;color:#222;padding-left:10px;padding-right: 10px;font-size: 1rem;font-weight:600;}
.menu-list .sapMITBText {font-size: 1rem!important;}
.menu-list .sapMLnk::after {content:"";display: inline-block;width: 1rem;height:1rem;background-image: url(../image/icon_link.svg);background-repeat: no-repeat;background-size: auto;}
.favorites-menu-list {display: block;flex-wrap: wrap;position: absolute;bottom: 0;background-color: #F4F5F7;width:100%;margin:0 -16px;padding: 20px;border-top:10px solid #EBEEF2;height:202px;overflow-y:auto}
.favorites-menu-list .sapMFlexItem{display: inline-block;}
.favorites-menu-list .sapMBtn {margin-right:6px;margin-bottom:6px;}
.sapUiSizeCompact .favorites-menu-list .sapMBtnInner.sapMBtnText {padding-left: 20px;padding-right: 20px;border-radius: 20px;width: 100%;height: 32px; font-size: 14px;font-weight:500;}
/*
.sapMToggleBtnPressed:not(.sapMBtnDisabled) {color:#6c757d; border-color:transparent; background:#fff !important}
.favorites-menu-list {position:absolute; bottom:0; background-color:#f4f5f7; border-top:10px solid #ebeef2; padding:20px 10px 20px 20px}
.favorites-menu-list .sapMBtn {margin:0 6px 6px 0}
.sapUiSizeCompact .favorites-menu-list .sapMBtn + .sapMBtn {margin-left:0}
.sapUiSizeCompact .favorites-menu-list .sapMBtnInner.sapMBtnText {padding-left:20px; padding-right:20px; border-radius:20px; width:100%; height:32px; font-size:14px; font-weight:500}
*/
/* sapMDialog  */
.sapUiMedia-Std-Phone .sapMDialog .sapMPanel>.sapMPanelHdr, .sapMPanelWrappingDiv, .sapMPanelWrappingDivTb {height:auto;line-height: inherit;padding:14px 16px;border-bottom: 1px solid #EDF0F5;background-color: #fff;font-size:20px;}
.sapUiMedia-Std-Phone .sapMDialog .sapMPanelContent {padding:16px;}
.sapUiMedia-Std-Phone .sapMDialog>.sapMDialogSection {padding: 0;}
.sapUiMedia-Std-Phone .sapMDialog .sapMDialogFooter {padding:16px;height: auto;border-top: 1px solid #EDF0F5;}
.sapUiMedia-Std-Phone .sapMDialog .sapMDialogFooter .sapMFooter-CTX {display: flex;justify-content: space-between;padding: 0;margin: 0;background-color: #fff;} 
.sapMDialog>footer .sapMIBar.sapMTB .sapMBtn.sapMBarChild:not(.app-menu-level1) { margin-left: 0px;}
.sapMDialog>footer .sapMIBar.sapMTB .sapMBtn.sapMBarChild:not(.app-menu-level1) ~ .sapMBtn.sapMBarChild { margin-left: 8px;}





.sapMITBSelected>.sapMITBContentArrow {border-bottom: 2px solid; border-bottom-color: #1E7DB3; height: 15px !important;}

.sapContrast.sapMIBar-CTX.sapMFooter-CTX, 
.sapContrast .sapMIBar-CTX.sapMFooter-CTX {display: flex;justify-content: center; color: #fafafa;text-shadow: 0 0 0 #000000;box-shadow: none;background-color: #F4F4F7;background-image: none;border-top: 0px solid #475b6d;height:72px;}
.sapUiSizeCompact .sapMBtn {flex: 1; }
.sapUiSizeCompact .sapMBtn + .sapMBtn {margin-left:8px;} 
.sapUiSizeCompact .sapMBtnInner.sapMBtnText {border-radius:4px;}
.sapContrast span.sapMBtnInner.sapMBtnEmphasized {text-shadow: none;}
.sapUiMedia-Std-Phone .sapMPageFloatingFooter>.sapMPageFooter {margin: 0;border-top: 8px solid #ebeef2;border-radius: 0;}
.sapUiMedia-Std-Phone .sapMPageFloatingFooter>.sapMPageFooter .sapMIBar {padding: 0 10px;border-radius: 0;}


.sapUiMedia-Std-Phone .sapUiLayoutCSSGrid.form-grid {    background-color: transparent!important;border-top: 0px solid #F5F5F5;}
.sapUiLayoutCSSGrid.form-grid > * {height: 100%;min-height: 40px;}
.sapUiLayoutCSSGrid.form-grid .sapMFlexBox .sapMFlexItem {display: flex;padding-top: 0px; min-height: auto!important;}
.sapUiMedia-Std-Phone .sapUiLayoutCSSGrid.form-grid .sapMLabel > bdi { padding-left: 0px; padding-right: 20px;}

.sapUiSizeCompact .sapMSegB.type-c {height: 32px;padding: 0;background-color: #fff;border-color: transparent;margin-bottom:20px;}
.sapUiSizeCompact .sapMSegB.type-c .sapMSegBBtn.sapMSegBBtnSel .sapMSegBBtnInner {background-color: #0A1E5A;color:#fff;}
.sapUiSizeCompact .sapMSegB.type-c .sapMSegBBtn .sapMSegBBtnInner{background-color: #fff;border:1px solid #ccc;border-radius:20px;line-height: 29px;font-weight:500;font-size: 14px;}

.calendar-popover {}
.sapMDialogPhone.sapMResponsivePopover.sapMRPCalendar{display:flex;justify-content: center; align-items: center; height:450px!important;top:calc(50% - 225px)!important;width: 80%!important;}

html.sap-phone .sapMDialog.sapMDialogStretched.sapMRPCalendar {top:calc(50% - 225px)!important;}


.card-box{border-bottom: 8px solid #ebeef2;padding:0 20px;}
.wrap {padding:0px 20px!important;}


.member-detail{}
.member-detail .name {font-size:20px;color:#000;}
.member-detail .sapMLabel.sapUiSelectable.sapUiLayoutCSSGridItem {min-height: 20px;color:#666666;font-weight:500;}

.notification-wrapper > .sapMFlexItem:last-child {top:0}
.sapUiSizeCompact.notification-popover.sapMPopoverWithBar.sapMPopoverWithFooter:not(.sapMRPCalendar)>.sapMPopoverCont {padding:20px 0}
.sapUiSizeCompact.notification-popover .sapMBtn.toggle-icon {margin-right:0; margin-left:15px}
